/*GENERAL*/
:root {
    --black: #1D1D1B;
    --orange: #cf440c;
    --light-gray: #f7f8fb;
    --dark-gray: #323232;
    --gray: #63717f;
    --white: #ffffff;
    --blue: #0596a1;
    --yellow: #DABF07;
    --green: #9cc11a;
    --purple: #735FE7;
    --h1: 48rem;
    --h2: 30rem;
    --md: 16rem;
    --sm: 12rem;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 6.25%;
    font-family: roboto, sans-serif;
  }
  
  body {
    font-size: var(--md);
    overflow-x:hidden;
  }

  p {
    font-size: var(--md);
    font-family: roboto, sans-serif;
    font-weight: 300;
  }

  h1 {
    font-size: var(--h1);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    padding: 16rem;
  }

  h2 {
    font-size: var(--h2);
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }

  a{
    cursor:hand;
    display: flex;
    align-items: center;
  }

  li{
    font-size: var(--md);
  }

  .inactive {
    display: none;
  }

/*BARRA DE DESPLAZAMIENTO*/
body::-webkit-scrollbar {
  width: 10px;     
}

body::-webkit-scrollbar-track {
  background: var(--white);
}

body::-webkit-scrollbar-thumb {
  background: var(--blue);
}


/*FONTS*/
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v30-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/raleway-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/raleway-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/raleway-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/raleway-v28-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/raleway-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/raleway-v28-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}


/* SUPERIOR */
.menu img{
  position:absolute;
  top: 16rem;
  left: 16rem;
  width: 64rem;
}

.menu-display {
  position: fixed;
  z-index: 2;
}

.menu-display-text {
  z-index: 1;
  color: var(--white);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.menu-close img{
  position:absolute;
  top: 16rem;
  left: 20rem;
  width: 64rem;
}

.menu-display-text li{
  list-style:none;
  margin-bottom: 32px;
}

.menu-display-text a {
  text-decoration: none;
  color: var(--white);
}

.menu-display-img{
  height: auto; 
  z-index: 0;
  width: 100vw;
}

.seccion-superior {
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 100vw;
}

.columna-izq-superior{
  background: var(--blue);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.text-container-si{
  margin: 8vw;
}

.text-izq{
  padding: 20rem;
  border: var(--white) solid 3rem;
  margin: 0 0 4px ;
  }

#fronted{
  text-align: right;
}

.columna-der-superior{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.columna-der-superior-top{
  background-color: var(--yellow);
  margin: 0;
  display: flex;
  height: 50vh;
}

.text-container-sds {
  margin: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.img-sup-der {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-sup-der img{
  width: 75%;
  z-index: 0;
  position: absolute;
}

.about-me {
  text-align: right;
  margin: 0 0 15rem;
}

#sobre-mi {
  text-align: right;
  margin-left: 20vw;
}

.right { 
  justify-content: right;
}

.center {
  justify-content: center;
}

.columna-der-superior-botton{
  background: var(--orange);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  
}

.button {
  margin-top: 30rem;
  display: flex;
}

.boton {
  border: var(--white) solid 1.5rem;
  border-radius: 25rem;
  background: transparent;
  color: var(--white);
  font-size: var(--sm);
  font-weight: bold;
  padding: 8rem 20rem;
}

.cv:hover {
  color: var(--orange);
  background: var(--white);
  font-weight: bold;
}

.conocer-mas:hover {
  color: var(--yellow);
  background: var(--white);
  font-weight: bold;
}

.text-container-sdi {
  margin: 0 32rem 0;
  text-align: left;
}

.contacto{
  display: flex;
  justify-content: center;
  
}

.contacto img {
  width: 15vw;
}

/*MEDIO*/
.seccion-media{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.titulo-tecnologia {
  margin: 0 30px 16px;
  text-align: center;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 24px 0;
}

.tecnologias img {
  width: 64rem;
}


/*PROYECTOS*/
.proyectos {
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
}

.titulo-proyectos
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16rem 0;
}

.cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container{
  float: left;
  margin: 0px 12px 12px 12px;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 94.5%;
}

.card {
  height: 45vh;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  border-radius: 15px;
}


.card-container:hover .card{
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 100%;
  padding: 0.8rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.front {
  background: var(--blue);
}

.back {
  background: var(--orange);
  transform: rotateY( 180deg);
}

.text-card {
  margin: 16rem;
  text-align: justify;
}


.card-1 {
  background: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-2 + .back{
  background: var(--green);
}

.card-1-text {
  padding: 20rem;
  border: var(--white) solid 3rem;
  margin: 0 10% 4px;
}

#card-1-fronted {
  text-align: right;
  margin: 0 10% 0;
}

.card-2{
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-2 #app-search {
  width: 80%;
  padding: 8rem 20rem;
  border: 4rem solid var(--green);
  border-radius: 15rem;
}

.btn-giphy:hover {
  color: var(--green);
  background: var(--white);
  font-weight: bold;
}

.card-3 {
  background: var(--light-gray);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-3 form{
  padding: 32rem;
  background: linear-gradient(var(--purple),#8D52FC); 
  border-bottom-left-radius: 180rem;
  border-bottom-right-radius: 180rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.card-3 fieldset {
  background-color: transparent;
  border-color: transparent;
}

.card-3 .search-options {
  display: flex;
  justify-content: center;
}

.card-3 .search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-3 .search-container{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.card-3 #search-music {
  position: absolute;
  width: 150%;
  height: 36px;
  padding: 8rem 20rem;
  border: 1rem solid var(--white);
  border-radius: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--white);
  font-size: 12rem;
  top: 16rem;
  color: var(--gray);
  padding-right: 45px;
}

.card-3 .icon img {
  width: 12px;
}

.card-3 .icon {
  position: absolute;
  background: transparent;
  top: 8rem;
  margin-top: 16px;
  right: 5%;
  color: var(--purple);
}

.card-3 .view-options{
  margin-top: 32rem;
}

.card-3 .view-options img{
  width: 32rem;
  margin: 0rem 16rem 0rem;
}

.card-3 + .back{
  background: var(--purple);
}

.btn-music:hover{
  color: var(--purple);
  background: var(--white);
  font-weight: bold;
}


@media (min-width:768px) {
  .columna-izq-superior{
    height: 50vh;
  }
  
  .img-sup-der img{
    width: 75%;
  }

  .text-container-sds {
    margin: 0 50rem 0 150rem;
    display: flex;
    z-index: 1;
  }
  
  .contacto img {
    width: 8vw;
  }

  .tecnologias img {
    width: 10vw;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-container{
    width: 97%;
    margin: 0px 12px 12px 12px;
  }
}

/* @media (min-width:992px) {
  .seccion-superior{
    flex-direction: row;
  }
  .columna-izq-superior{
    height: 100vh;
  }

  .text-container-sds {
    margin: 0 50rem;
  }  

  .img-sup-der img{
    width: 40vw;
  }

  .contacto img {
   width: 64px;
  }
} */

@media (min-width:1200px) {
  body{
    display: flex;
    justify-content: space-evenly;
  }

  .seccion-superior{
    flex-direction: row;
  }

  .columna-izq-superior{
    height: 100vh;
  }

  .img-sup-der img{
    width: 30%;
  }

  .text-container-sds {
    margin: 0 50rem 0 0;
  }

  .contacto img {
    width: 64px;
   }

  .seccion-media{
    flex-direction: row;
  }

  .titulo-tecnologia{
    width: 20vw;
    text-align: left;
  }
  
  .tecnologias img {
    width: 100px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-container{
    width: 97.5%;
    margin: 0px 0px 12px 12px;
  }
  
}