/*GENERAL*/
:root {
    --black: #1D1D1B;
    --orange: #cf440c;
    --gris-claro: #f7f8fb;
    --gris-oscuro: #323232;
    --white: #ffffff;
    --blue: #0596a1;
    --yellow: #DABF07;
    --xb: 60rem;
    --bg: 30rem;
    --md: 19rem;
    --sm: 16rem;
  }

  html {
    font-size: 6.25%;
    margin: 0;
    font-family: roboto, sans-serif;    
  }
  
  body {
    font-size: 16rem;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 14rem;
    font-family: roboto, sans-serif;
    font-weight: 300;
  }

  h1 {
    margin: 0;
    font-size: 56rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }

  h2 {
    margin: 0;
    font-size: 48rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }

  li{
    font-size: 16rem;
  }

  .inactive {
    display: none;
  }
/*BARRA DE DESPLAZAMIENTO*/
body::-webkit-scrollbar {
  width: 10px;         /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--white);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: var(--blue);
}


/*FONTS*/
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v30-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/raleway-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/raleway-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/raleway-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/raleway-v28-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/raleway-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/raleway-v28-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}


/* SUPERIOR */

.seccion-superior {
  display: flex;
  color: var(--white);
  font-size: 36rem;
}

.columna-izq-superior{
  background: var(--blue);
  width: 50vw;
  align-items: center; /*centra a lo vertical*/
  display: grid;
  height: 100vh;
  font-family: roboto;
}

nav{
  display:grid;
  grid-template-columns: 1fr auto;
  position:absolute;
  top: 15rem;
  width:100%;
  }

.menu img{
  position:absolute;
  width: 64px;
}

.text-container{
  margin: 100rem;
  justify-content: center; /*centra a lo horizontal*/
}

.text-izq{
  padding: 20rem;
  border: var(--white) solid 3rem;
  }

#fronted{
  text-align: right;
}

.columna-der-superior{
  width: 50vw;
  justify-content: center;
}

.columna-der-superior-top{
  background-color: var(--yellow);
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 50vh;
}

.img-sup-der {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-sup-der img{
  width: 28vw;
  position: absolute;
}

.about-me {
  text-align: right;
  margin: 0 0 15rem;
}

#sobre-mi {
  text-align: right;
  margin-left: -30rem;
}

.right { 
  justify-content: right; 
}

.center {
  justify-content: center;
}

.columna-der-superior-botton{
  background: var(--orange);
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 50vh;
}

.button {
  margin-top: 30rem;
  display: flex;
  /* justify-content: center; */
}

.boton {
  border: var(--white) solid 1rem;
  border-radius: 25rem;
  background: transparent;
  color: var(--white);
  font-size: 14rem;
  font-weight: bold;
  padding: 8rem 20rem;
}

.cv:hover {
  color: var(--orange);
  background: var(--white);
  font-weight: bold;
}

.conocer-mas {
  align-items:flex-end;
}

.conocer-mas:hover {
  color: var(--yellow);
  background: var(--white);
  font-weight: bold;
}

.contacto{
  display: flex;
  justify-content: center;
}

.contacto img {
  width: 64rem;
}

/*MEDIO*/
.seccion-media{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.seccion-media > div{
  display: flex;
}

.titulo-tecnologia {
  margin-left: 80rem;
  margin-right: 30rem;
  width: 350rem;
}

.tecnologia {
  display: flex;
}

.tecnologias img {
  width: 128rem;
}

/*PROYECTOS*/
.proyectos {
  height: 100vh;
  background: #f7f8fb;
}

@media (max-width: 1080px) {
  .seccion-superior{
    display: grid;
  }
  .columna-izq-superior{
    width: 100vw;
  }
  .columna-der-superior{
    width: 100vw;
  }
  .seccion-media > div {
    display: grid;
    width: 100vw;
 }

 .titulo {
  width: 80vw;
}
  
.tecnologias img {
  width: 128px;
  justify-content: center;
}

}