/*GENERAL*/
:root {
    --black: #1D1D1B;
    --orange: #cf440c;
    --gris-claro: #f7f8fb;
    --gris-oscuro: #323232;
    --white: #ffffff;
    --blue: #0596a1;
    --yellow: #DABF07;
    --h1: 48rem;
    --h2: 30rem;
    --md: 16rem;
    --sm: 12rem;
  }

  html {
    font-size: 6.25%;
    font-family: roboto, sans-serif;
    width: 100vw;
  }
  
  body {
    margin: 0;
    width: 100vw;
  }

  p {
    font-size: var(--md);
    font-family: roboto, sans-serif;
    font-weight: 300;
  }

  h1 {
    font-size: var(--h1);
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }

  h2 {
    font-size: var(--h2);
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }

  a{
    cursor:hand;
    display: flex;
    align-items: center;
  }

  li{
    font-size: var(--md);
  }

  .inactive {
    display: none;
  }

/*BARRA DE DESPLAZAMIENTO*/
body::-webkit-scrollbar {
  width: 10px;     
}

body::-webkit-scrollbar-track {
  background: var(--white);
}

body::-webkit-scrollbar-thumb {
  background: var(--blue);
}


/*FONTS*/
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v30-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/raleway-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/raleway-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/raleway-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/raleway-v28-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/raleway-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/raleway-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/raleway-v28-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}


/* SUPERIOR */
.menu img{
  position:absolute;
  top: 16rem;
  left: 16rem;
  width: 64px;
}

.seccion-superior {
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 100vw;
}

.columna-izq-superior{
  background: var(--blue);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.text-container-si{
  margin: 8vw;
}

.text-izq{
  padding: 20rem;
  border: var(--white) solid 3rem;
  margin: 0;
  }

#fronted{
  text-align: right;
}

.columna-der-superior{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.columna-der-superior-top{
  background-color: var(--yellow);
  margin: 0;
  display: flex;
  height: 50vh;
}

.text-container-sds {
  margin: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.img-sup-der {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-sup-der img{
  width: 75vw;
  z-index: 0;
  position: absolute;
}

.about-me {
  text-align: right;
  margin: 0 0 15rem;
}

#sobre-mi {
  text-align: right;
  margin-left: 20vw;
}

.right { 
  justify-content: right;
}

.center {
  justify-content: center;
}

.columna-der-superior-botton{
  background: var(--orange);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.button {
  margin-top: 30rem;
  display: flex;
}

.boton {
  border: var(--white) solid 1.5rem;
  border-radius: 25rem;
  background: transparent;
  color: var(--white);
  font-size: var(--sm);
  font-weight: bold;
  padding: 8rem 20rem;
}

.cv:hover {
  color: var(--orange);
  background: var(--white);
  font-weight: bold;
}

.conocer-mas:hover {
  color: var(--yellow);
  background: var(--white);
  font-weight: bold;
}

.text-container-sdi {
  margin: 0 8rem 0;
}

.contacto{
  display: flex;
  justify-content: center;
}

.contacto img {
  width: 15vw;
}

/*MEDIO*/
.seccion-media{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.titulo-tecnologia {
  margin: 0 30px 0;
  text-align: center;
}

.tecnologia {
  display: flex;
  flex-wrap: wrap;
}

.tecnologias img {
  width: 64rem;
}

.titulo-proyectos
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*PROYECTOS*/
.proyectos {
  height: 100vh;
  background: var(--gris-claro);
}

@media (min-width:768px) {
  .columna-izq-superior{
    height: 50vh;
  }
  
  .img-sup-der img{
    width: 75vw;
  }

  .text-container-sds {
    margin: 0 50rem 0 150rem;
    display: flex;
    z-index: 1;
  }
  
  .contacto img {
    width: 10vw;
  }

  .tecnologias img {
    width: 10vw;
  }
}

@media (min-width:992px) {
  .seccion-superior{
    flex-direction: row;
  }
  .columna-izq-superior{
    height: 100vh;
  }

  .text-container-sds {
    margin: 0 50rem;
  }  

  .img-sup-der img{
    width: 40vw;
  }

  .contacto img {
   width: 64px;
  }
}

@media (min-width:1200px) {
  .img-sup-der img{
    width: 30vw;
  }

  .text-container-sds {
    margin: 0 50px 0 0;
  }
  
  .tecnologias img {
    width: 128px;
  }
  
}